* {
    margin: 0;
    padding: 0;
}

#travail,
#repos {
    font-size: 200%;
    min-height: fit-content;
    height: 50px;
    min-height: fit-content;
    width: 200PX;
    margin: -5px;
    margin-top: 20px;
    font-family: skranji;
}

h1 {
    margin: auto;
}

body {
    text-align: center;
    padding-top: 2%;
    background-color: #ddebee;
    font-family: skranji;
}

#boiteChrono {
    height: 250px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px;
    border-radius: 50%;
    background-color: teal;
    position: relative;
}

#chrono {
    font-size: 40px;
    padding-top: 40%;
}

#barreCoulissante {
    margin-top: 2%;
}

input[type="range"] {
    width: 150px;
    height: 5px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    border: black solid 1px;

    -webkit-appearance: none;
    appearance: none;
    background: teal;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    border: solid black 1px;
    background-color: #ddebee;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

#debut {
    height: 50px;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}


footer {
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;

}